<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_description %></td>
        <td><%= link_to 'Show', project_task_path(@project, task) %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project, task) %></td>
        <td><%= link_to 'Destroy', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @tasks, theme: 'my_custom_theme' %>
<br/>

<%= link_to 'New Task', new_project_task_path %>  |

<%= link_to 'Back', projects_path, class:'button btn btn-link' %>
