<p id="notice"><%= notice %></p>

<h1>User Roles</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @user_roles.each do |user_role| %>
      <tr>
        <td><%=User.find(user_role.user_id).try(:full_name) %></td>
        <td><%=UserRole::ROLES[user_role.role_id] %></td>
        <!-- <td><%#= link_to 'Show', user_role %></td> -->
        <td><%= link_to 'Edit', edit_user_role_path(user_role) %></td>
        <td><%= link_to 'Destroy', user_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Role', new_user_role_path %>
