<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Task</th>
      <th colspan="2" class="text-center">Action</th>
      <th>Add Task</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.try(:project_name) %></td>
        <td><%= project.try(:project_description) %></td>
        <td><%= project.tasks.pluck(:task_name).join(',')%></td>
        <!-- <td><%#= link_to 'Show', project %></td> -->
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'See TODO List', project_tasks_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @projects, theme: 'my_custom_theme' %>
<br/>

<%= link_to 'New Project', new_project_path %>
