<p id="notice"><%= notice %></p>

<h1>User Tasks</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Project</th>
      <th>Task</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% if @user_tasks != [] %>
      <% @user_tasks.each do |user_task| %>
        <tr>
          <td><%=user_detail(user_task.user_id).try(:full_name) %></td>
          <td><%=project_detail(user_task.project_id).try(:project_name) %></td>
          <td><%=task_detail(user_task.task_id).try(:task_name) %></td>
          <!-- <td><%#= link_to 'Show', user_task %></td> -->
          <td><%= link_to 'Edit', edit_user_task_path(user_task) %></td>
          <td><%= link_to 'Destroy', user_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Task', new_user_task_path %>
